<%- include("./header.ejs") %>

    <head>
        <title>Edit product</title>
        <link rel="stylesheet" href="../../css/product.css">
    </head>

    <body>

        <form class="container form-group mt-3" action="/products/<%= product._id %>?_method=PUT" method="POST">
            <h2>UPDATE ITEM</h2>
            <div class=" mb-3"><label for="name">Name:</label><br>
                <input class="form-model form-control" type="text" name="name" id="name" value="<%=product.name %>">
            </div>
            <div class="mb-3 "><label for="manufacturer">Manufacturer:</label><br>
                <input class="form-model form-control" type="text" name="manufacturer" id="manufacturer" value="<%=product.manufacturer%>">
            </div>
            <div class="d-grid gap-2 d-md-block ">
                <label for="category">Select category:</label>
                <select class="col-2 dropdown-roundedtop" name="category" id="category">
                <% for (let category of categories){ %>
                    <option value="<%= category %>" <%=product.category===category?'selected':'' %> >
                        <%= category %>
                    </option>
                    <% } %>
            </select>

                <label for="rating">Rating:</label>
                <select class="col-2 dropdown-roundedtop" name="rating" id="rating">
                <% for (let rating of ratings){ %>
                    <option value="<%= rating %>" <%=product.rating===rating?'selected':'' %>>
                        <%= rating %>
                    </option>
                    <% } %>
            </select>

                <label for="price">Price:</label>
                <input class="col-2 dropdown-roundedtop" type="number" min=0 name="price" id="price" value="<%=product.price %>">

            </div>
            <div>
                <label for="imgURL">Image URL:</label>
                <input class="mt-3 col-8 form-control" type="text" name="imgURL" id="imgURL" value="<%=product.imgURL %>">
            </div>
            <div>
                <label for="about">About:</label><br>
                <textarea class="form-control-about" id="about form-control" name="about" rows="4" cols="100" required><%=product.about%></textarea>
            </div>
            <div class="d-grid gap-2 d-md-block ">
                <button class="col-2 btn-primary" type="submit">UPDATE</button>
                <a href="/products" class="col-2 btn btn-dark rounded-pill" role="button">CANCEL</a>
            </div>
        </form>
        <%- include("./footer.ejs") %>